@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 375px;
  background-color: #f0f0f0;
  margin: 2rem auto;
}

section {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  width: 343px;
  height: 486px;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 2rem 2rem 6rem 2rem;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  color: #716f6f;
  font-size: 10px;
  letter-spacing: 0.09rem;
  opacity: 0.8;
  margin: 0.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

input[type='tel'] {
  width: 80px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  padding: 0.6rem;
  text-align: center;
  margin-top: 0.2rem;
}

input[type='tel']:hover {
  border: 1px solid #854dff;
  cursor: pointer;
}

::placeholder {
  color: #000;
}

.mid-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hr-line {
  position: absolute;
  width: 80%;
}

.img {
  background-color: #854dff;
  border-radius: 50%;
  height: 64px;
  width: 64px;
  margin: 2rem auto;
  z-index: 1;
}

.img:hover {
  cursor: pointer;
  background-color: black;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
}

.age {
  display: flex;
  margin-top: -1.5rem;
  text-align: center;
  align-items: center;
  font-style: italic;
}

.age-num {
  color: #854dff;
  font-weight: 800;
  font-size: 49px;
}

.age-text {
  font-size: 49px;
  font-weight: 800;
  margin-left: 0.6rem;
}

@media (min-width: 1200px) {
  body {
    width: 1200px;
  }

  section {
    width: 840px;
    height: 560px;
  }

  form {
    display: flex;
    align-items: start;
    justify-content: flex-start;
    margin-left: 5rem;
    gap: 1rem;
  }

  label {
    font-size: 14px;
  }

  input[type='tel'] {
    width: 160px;
    padding: 0.9rem;
    text-align: center;
    margin-top: 0.8rem;
    font-size: 25px;
  }

  .mid-sec {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  img {
    position: relative;
    top: 0;
    right: -310px;
    margin: 0 auto;
  }

  .display {
    display: flex;
    justify-content: center;
    margin: 0 2rem 0 5rem;
  }

  .age-num {
    color: #854dff;
    font-weight: 800;
    font-size: 69px;
  }

  .age-text {
    font-size: 69px;
    font-weight: 800;
  }
}
