@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 375px;
  background-color: #f0f0f0;
  margin: 2rem auto;
}

section {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  width: 343px;
  height: 486px;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 2rem 2rem 6rem 2rem;
  border: 2px solid green;
}

form {
  display: flex;
}

form label {
  margin: 0.5rem;
}

label input {
  width: 88px;
}
