@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 375px;
  background-color: #f0f0f0;
  margin: 2rem auto;
}

.filler {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  width: 343px;
  height: 486px;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 2rem 2rem 10rem 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.form-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

label {
  color: #716f6f;
  font-size: 10px;
  letter-spacing: 0.09rem;
  margin: 0.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

input[type='tel'] {
  width: 80px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  padding: 0.6rem;
  text-align: left;
  margin-top: 0.2rem;
}

input[type='tel']:hover,
input[type='tel']:focus {
  border: 1px solid #854dff;
  cursor: pointer;
  outline: none;
}

::placeholder {
  color: #808080;
}

.mid-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hr-line {
  position: absolute;
  width: 85%;
}

button {
  background-color: #854dff;
  border: none;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 800;
  cursor: pointer;
  z-index: 1;
  margin: 2rem auto;
}

small {
  width: 80px;
  color: #f00;
  font-size: 0.4rem;
  text-align: center;
  text-transform: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.error {
  color: #f00;
  border: #f00 1px solid;
}

input[type='tel'] .error {
  border: #f00 1px solid;
}

button:hover {
  cursor: pointer;
  background-color: black;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
}

.age {
  display: flex;
  margin-top: -1.5rem;
  text-align: center;
  align-items: center;
  font-style: italic;
}

.age-num {
  color: #854dff;
  font-weight: 800;
  font-size: 49px;
}

.age-text {
  font-size: 49px;
  font-weight: 800;
  margin-left: 0.6rem;
}

@media (min-width: 1200px) {
  body {
    width: 1200px;
  }

  .filler {
    margin: 4rem auto;
    width: 840px;
    height: 560px;
    border-radius: 2rem 2rem 10rem 2rem;
  }

  form {
    display: flex;
    justify-content: flex-start;
    width: 728px;
  }

  .content {
    display: flex;
    margin-left: 0;
    align-items: center;
    justify-content: center;
  }

  label {
    font-size: 14px;
  }

  input[type='tel'] {
    width: 160px;
    padding: 0.9rem;
    text-align: left;
    margin-top: 0.8rem;
    font-size: 25px;
  }

  .mid-sec {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  ::placeholder {
    color: #8a8888;
  }

  button {
    position: relative;
    top: 0;
    right: -310px;
    margin: 0 auto;
  }

  .display {
    display: flex;
    justify-content: center;
    margin: 0 2rem 0 5rem;
  }

  .age-num {
    color: #854dff;
    font-weight: 800;
    font-size: 69px;
  }

  .age-text {
    font-size: 69px;
    font-weight: 800;
  }
}
